<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <!-- <style>
    table {
      position: absolute;
    }
  </style> -->
  <body>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">이름</th>
          <th scope="col">생년월일</th>
          <th scope="col">성별</th>
          <th scope="col">직업</th>
          <th scope="col">수정</th>
          <th scope="col">삭제</th>
        </tr>
      </thead>
      <tbody>
        <%for(let i = 0; i < customer.length; i++) {%>
        <tr>
          <th class="test" scope="row"><%= customer[i].id %></th>
          <td><%= customer[i].name %></td>
          <td><%= customer[i].birthday %></td>
          <td><%= customer[i].gender %></td>
          <td><%= customer[i].job %></td>

          <td>
            <button type="button" class="updateBtn btn btn-primary btn-sm">
              수정
            </button>
          </td>
          <td>
            <button
              onclick="handleUserDelete('<%= customer[i].id %>')"
              type="button"
              class="deleteBtn btn btn-danger btn-sm"
            >
              삭제
            </button>
          </td>
        </tr>
        <% }%>
      </tbody>
    </table>

    <script>
      function handleUserDelete(id) {
        $.ajax({
          type: 'DELETE',
          url: `http://localhost:5000/user/list/${id}`,
          success: function (data) {
            console.log(data);
          },
          error: function (err) {
            console.log(err);
          },
        });

        window.location.reload();
      }
    </script>
  </body>
</html>
